<%= link_to "Novo Artigo", new_article_path, class: 'btn btn-primary' %>

<%= render 'longer_featured' %>
<%= render 'featured_post' %>

<div class="row g-5">
    <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
            From the Firehose
        </h3>

        <%= render @articles %>
        <%= render 'pagination' %>
    </div>

    <%= render 'rightside' %>
</div>